extends layout

block content
  h1= title
  p Welcome to #{title}
  p Added line to check to see if this is reflecting or not
  button(type='button', class="btn btn-secondary", onClick='update()') Press Me
  br
  br
  div(id="target") Display 
   script.
    var client_count=0
    function update(){
     client_count++;
     document.getElementById("target").innerHTML=`value now ${client_count}`
     }
